<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h2>Cadastro de usuário</h2>
    <form action="" method="post">
        Nome: <input type="text" name="nome" id="" required><br>
        CPF: <input type="text" name="cpf" id="" required> <br>
        Email: <input type="text" name="email" id="" required> <br>
        Senha: <input type="password" name="senha" id="" required> <br><br>
        <button type="submit">Registrar</button>
    </form>
    <a href="(( url_for('login') ))">Já tem conta? Faça login!</a>
</body>
</html>