*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(22, 17, 17));
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Links do topo */
.Cabeç{
    justify-content: center;
    display: inline-flex;
    gap: 30px;
    margin-top: 5px;
}
.Cabeç a:hover{
    color: gold;
    transition-duration: 800ms;
}
.Cabeç li{
    list-style: none;
    padding: 2px;
    border-radius: 5px;
}
.Cabeç li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.Cabeç li:hover{
    transform: scale(1.2);
    transition-duration: 700ms;
}
.Cabeç li:active{
    transform: scale(0.8);
}
#Rot{
    background-color: black;

    font-family: 'Times New Roman', Times, serif;
}
/*Titulo da página*/
.Lindao{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    border-color: rgb(199, 199, 193);
    border-style: outset;
    color: gold;
    line-height: 180px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.Lindao a{
    color: gold;
    text-decoration: none;
}
/* Macacadinha com literalmente meu rosto */
.container{
    margin: 0px 0px 0px 770px;
    align-items: center;
}
.container .card .icon {
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .card .icon .fa {
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
}
.container .card .slide {
    margin-left: -770px;
    height: 200px;
    transition: 0.5s;
    justify-content: center;
}
.container .card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .9s;
    transform: translateY(100px);
}
.container .card:hover .slide.slide1{
    transform: translateY(0px);
    justify-content: center;
}
.container .card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
}
.container .card:hover .slide.slide2{
    transform: translateY(0);
}
.container .card .slide.slide2::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}
.container .card .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}
.container .card .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: gold;
    font-weight: bold;
    text-decoration: dashed;
} 
.Gosling{
    width: 230px;
    height: 100%;
    border-radius: 89%;
    border: #f4f4f4;
    border-style: solid;
}
/* Fim da bagaceira */
.Biografia{
    color: #f4f4f4;
    width: 700px;
    text-align: justify;
    margin: 20px auto;
    padding: 30px;
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-style: solid;
    box-shadow: 5px 5px 5px gold;
}
/* Reviews */
#RevTt{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    border-color: rgb(199, 199, 193);
    border-style: solid;
    color: gold;
    line-height: 100px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-decoration: underline;
}
.Caixas{
    list-style: none;
    border-radius: 80px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
#Games{
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0px 0px 30px #f4f4f4;
    height: 350px;
    width: 300px;
    border-color: rgb(199, 199, 193);
    border-style: outset;
}
.Notas{
    color: gold;
    border-color: rgb(158, 156, 156);
    border-radius: 10px;
    padding: 2px;
    line-height: 25px;
}
#Foto{
    height: 250px;
    width: 250px;
    margin-top: 10px;
    justify-content: center;
}
/* Botões */
button{
    background-color: #f4f4f4;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    padding: 2px;
    margin-top: 3px;
}
button:hover{
    background-color: black;
    color: gold;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    border-color: gold;
    padding: 2px;
}
button:active{
    transform: scale(0.95);
}
/*Ex*/
.Formulário{
    padding: 20px;
    background-color: rgb(29, 28, 28);
    color: white;
    width: 400px;
    margin: 30px auto;
    gap: 20px;
    border-radius: 50px;
    line-height: 25px;
    border: #a8a0a0 solid;
}
input{
    border-radius: 5px;
    border-style: outset;
    padding: 2px;
    border-color: #a8a0a0;
    background-color: black;
}
textarea{
    border-radius: 5px;
    border-style: outset;
    padding: 5px;
    background-color: black;
    border-color: #a8a0a0;
}
.Enviarbotao{
    background-color: #252424;
    color: #f4f4f4;
    border: #f4f4f4;
    border-style: solid;
}
/*Rodapé*/
footer{
    color: rgb(214, 210, 210);
    border-radius: 5px;
    background-color: rgb(44, 44, 42);
    text-align: center;
    padding: 10px;
    margin: 20px 0px 0px;
    font-size: 20px;
    border-style: outset;
}
.Contato{
    list-style: none;
    justify-content: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #f4f4f4;
    padding: 20px 0px 20px 0px;
    border-radius: 15px;
    border-style: outset;
}
.Contatins{
    display: flex;
    justify-content: space-evenly;
    margin-left: -150px;
}
.Contato li a{
    color: rgb(0, 99, 156);
    text-decoration: underline;
    font-weight: bold;
}
.Contatins{
    list-style: none;
    text-decoration: none;
}
#Fim{
    color: #f4f4f4;
    padding: 10px 0px 15px 0px;
    font-size: 30px;
    text-decoration: underline;
}
/*Ex*/